QLabel {
        font-size: 36px;
        font-weight: bold;
        margin: 20px;
    }


QPushButton {
        font-size: 18px;
        background-color: #2196F3;
        color: white;
        border-radius: 5px;
        margin: 10px;
    }

QPushButton:hover {
        background-color: #1976D2;
    }
